# -----------------------------------------------------------------------------
# NextAuth: https://shipfa.st/docs/tutorials/user-auth
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# Google OAuth: https://shipfa.st/docs/features/google-oauth
# -----------------------------------------------------------------------------
GOOGLE_ID=
GOOGLE_SECRET=

# -----------------------------------------------------------------------------
# Resend: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
RESEND_API_KEY=

# -----------------------------------------------------------------------------
# Database URI: https://shipfa.st/docs/features/database
# -----------------------------------------------------------------------------
MONGODB_URI=

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=




# -----------------------------------------------------------------------------
# SUPABASE: 
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SUPABASE_URL=https://faggsgimbeaybizxipwl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhZ2dzZ2ltYmVheWJpenhpcHdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ3NjIwNTUsImV4cCI6MjA2MDMzODA1NX0.W9Knf1fUdmvumYnfMwntFeYk-2oNsFTlw5kUn-_BDXc